@font-face {
  font-family: Norse;
  src: url("fonts/Norse-Bold.otf") format("opentype");
}

:root {
  overflow: hidden;
}

body {
  font-family: 'Open Sans', Helvetica Neue, Helvetica, Arial, sans-serif;
  background-color: #f9fafb;
  color: rgb(33, 33, 33);
  padding: 0;
  margin: 0;
  display: flex;
  min-height: 100vh;
}

.image-sidebar {
  background-image: url(images/image-sidebar.jpg);
  background-size: cover;
  width: 35vw;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar-header {
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 20vh;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 10px;
}
.image-sidebar h1 {
  color: white;
  font-family: Norse, sans-serif;
  font-size: 6rem;
  margin: 0;
  position: relative;
  top: 20px;
}
#odin-logo {
  height: 7.5rem;
}
.source {
  color: white;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 100;
}
.source > a {
  color: white;
}

.main-container {
  padding: 0;
  margin: 0;
  width: 65vw;
}

.info-container {
  font-size: 1.5rem;
  font-weight: 700;

  width: 80%;
  height: calc(20vh + 120px);
  padding: 5vh 50px;
  box-sizing: border-box;
}

.form-container {
  background-color: #fff;
  width: 100%;
  padding: 25px 50px;
  margin-bottom: 25px;
  border: 1px solid rgb(247, 247, 247);
  box-shadow: 4px 4px 6px rgb(213, 213, 213);
}
.form-container > h3 {
  padding: 0;
  margin: 0 0 20px 0;
  font-size: 1.5rem;
  font-weight: 700;
}
input {
  margin: 0;
  padding: 0;
  border: 1px solid #E5E7EB;
  border-radius: 5px;
  font-size: 1.5rem;
}
.form-row {
  margin-top: 10px;
  display: flex;

  font-size: 0.9rem;
}
.form-input label {
  letter-spacing: 0.05rem;
}
.form-input input {
  width: 100%;
}
.form-input input:focus,
.form-input input:active {
  border: 1px solid rgb(30, 30, 164);
  box-shadow: 2px 2px 6px rgb(213, 213, 213);
  outline: none;
}
.form-input {
  width: 265px;
  padding-right: 75px;
}
.form-input .error:invalid {
  border: 1px solid rgb(230, 0, 0);
}
.error:invalid + span::after {
  color: rgb(230, 0, 0);;
  content: "* Passwords do not match";
}

.btn-container {
  padding-left: 50px;
  margin-top: 35px;
}
button[type="submit"] {
  background-color: #596D48;
  border: none;
  border-radius: 5px;
  box-shadow: 4px 4px 6px rgb(213, 213, 213);
  padding: 15px 65px;

  color: white;
  font-size: 1.15rem;
  font-weight: 600;
}
button[type="submit"]:hover {
  background-color: #6d835a;
}
button[type="submit"]:active {
  background-color: #475739;
}
.small-info-container {
  margin: 35px 50px;
  font-size: 1.125rem;
}
.small-info-container > a {
  color: #596D48;
  text-decoration: none;
  font-weight: 600;
}